# EDA Nicola Colusso

### Análisis Exploratorio, industria del cine con dataset TMDB_movie_dataset_v11

Este notebook se ha utilizado como hoja de trabajo preliminar para explorar el dataset TMDB_movie_dataset_v11 y tomar decisiones sobre la limpieza, normalización y manejo de los datos. Las visualizaciones realizadas aquí han servido para preparar los scripts finales en .py, donde se generan las gráficas definitivas que permiten extraer las conclusiones finales sobre la industria del cine.

In [1]:
#Setup del entorno

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import kagglehub

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
# Download DataSet

path = kagglehub.dataset_download("lakshmi25npathi/imdb-dataset-of-50k-movie-reviews")

print("Path to dataset files:", path)

In [2]:
df = pd.read_csv('/Users/nicolacolusso/Downloads/Data Science/test1001/data/TMDB_movie_dataset_v11.csv')
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [ ]:
df.shape

In [ ]:
df.info()

## Descripción de las columnas del dataset

id : Identificador interno del dataset (único para cada fila).

title : Título de la película.

vote_average : Puntuación promedio de la película en IMDb (del 0 al 10).

vote_count : Número total de votos que ha recibido la película.

status : Estado de la película (Released, In Production, etc.).

release_date : Fecha de estreno de la película.

revenue : Recaudación total de la película en dólares.

runtime : Duración de la película en minutos.

adult : Indica si la película es para adultos (True/False).

backdrop_path : Ruta de la imagen de fondo asociada a la película (poster secundario).

budget : Presupuesto de producción en dólares.

homepage : URL de la página web oficial de la película.

imdb_id : Identificador único de la película en IMDb (más fiable que id).

original_language : Idioma original de la película (ej. en, fr).

original_title : Título original de la película.

overview : Resumen o sinopsis de la película.

popularity : Métrica de popularidad (según IMDb, basada en búsquedas, votos y actividad).

poster_path : Ruta del poster principal de la película.

tagline : Frase promocional o eslogan de la película.

genres : Géneros de la película (ej. Action, Adventure, Sci-Fi).

production_companies : Compañías productoras de la película.

production_countries : Países donde se produjo la película.

spoken_languages : Idiomas hablados en la película.

keywords : Palabras clave o tags que describen la película.

### Tras revisar las columnas y comprender el significado de cada variable, podemos proceder con la limpieza del dataset y el análisis exploratorio, identificando valores nulos, duplicados, inconsistencias y preparando los datos para las visualizaciones.

In [ ]:
df_copy = df.copy()

# tengo solo las filas donde el valor de imdb_id no es nulo
df_copy = df_copy[df_copy['imdb_id'].notna()]

df_copy = df_copy[df_copy['release_date'].notna()]

# Convertir a datetime la columna release_date
df_copy['release_date'] = pd.to_datetime(df_copy['release_date'])

# me quedo solo con las peliculas des de 1900 a 2025
df_copy = df_copy[
    (df_copy['release_date'].dt.year >= 1900) &
    (df_copy['release_date'].dt.year <= 2025)
]

# me quedo solo con las filas con valor Relised en la columna status
df_copy = df_copy[df_copy['status'] == 'Released']

# elimina columnas que no tienen importancia
df_copy = df_copy.drop(columns=['id', 'status', 'backdrop_path', 'homepage', 'overview', 'poster_path', 'tagline', 'keywords'])

# Contar cuántos valores nulos tiene cada fila
df_copy["n_nulls"] = df_copy.isna().sum(axis=1)

# Ordenar primero por imdb_id y luego por nulos (ascendente: menos nulos primero)
df_copy = df_copy.sort_values(by=["imdb_id", "n_nulls"], ascending=[True, True])

# Quedarse solo con la primera fila de cada imdb_id
df_copy = df_copy.drop_duplicates(subset="imdb_id", keep="first")

# Eliminar la columna temporal
df_copy = df_copy.drop(columns="n_nulls")

In [3]:
df_copy = df.copy()

In [ ]:
# Conservamos solo filas con imdb_id, los registros fiables

df_copy = df_copy[df_copy['imdb_id'].notna()]

In [ ]:
df_copy = df_copy[df_copy['release_date'].notna()]

In [ ]:
# Convertir a datetime la columna release_date
df_copy['release_date'] = pd.to_datetime(df_copy['release_date'])

In [ ]:
df_copy['release_date'].dt.year.value_counts().sort_values(ascending=False).head(20)

In [ ]:
# me quedo solo con las peliculas des de 1900 a 2025
df_copy = df_copy[
    (df_copy['release_date'].dt.year >= 1900) &
    (df_copy['release_date'].dt.year <= 2025)
]

In [ ]:
# verifico cuantos y cuales valores hay en la columna status
df_copy['status'].value_counts()

In [ ]:
# me quedo solo con las filas con valor Relised en la columna status, relevantes para este analisi
df_copy = df_copy[df_copy['status'] == 'Released']

In [ ]:
# me quedo solo con las filas con valor Relised en la columna status, relevantes para este analisi
df_copy = df_copy[df_copy['status'] == 'Released']

In [ ]:
# elimina columnas que no tienen importancia
df_copy = df_copy.drop(columns=['id', 'status', 'backdrop_path', 'homepage', 'overview', 'poster_path', 'tagline', 'keywords'])

In [ ]:
# veo si y cuantos duplicados hay
df_copy['imdb_id'].duplicated().sum()

# Contar cuántos valores nulos tiene cada fila
df_copy["n_nulls"] = df_copy.isna().sum(axis=1)

# Ordenar primero por imdb_id y luego por nulos (ascendente: menos nulos primero)
df_copy = df_copy.sort_values(by=["imdb_id", "n_nulls"], ascending=[True, True])

# Quedarse solo con la primera fila de cada imdb_id
df_copy = df_copy.drop_duplicates(subset="imdb_id", keep="first")

# Opcional: eliminar la columna temporal
df_copy = df_copy.drop(columns="n_nulls")

### Después de haber revisado y aplicado cada paso de la limpieza básica, creo una función que encapsula todo el proceso y se puede aplicar directamente al dataframe cuando sea necesario, evitando repetir código y manteniendo consistencia en el análisis.

In [ ]:
def limpio(df):
    df_copy = df.copy()
    
    df_copy = df_copy[df_copy['imdb_id'].notna()]
    
    df_copy['release_date'] = pd.to_datetime(df_copy['release_date'])
    
    df_copy = df_copy[
        (df_copy['release_date'].dt.year >= 1900) &
        (df_copy['release_date'].dt.year <= 2025)
    ]
    
    df_copy = df_copy[df_copy['status'] == 'Released']
    
    df_copy = df_copy.drop(columns=['id', 'status', 'backdrop_path', 'homepage', 'overview', 'poster_path', 'tagline', 'spoken_languages', 'keywords'])
    
    df_copy["n_nulls"] = df_copy.isna().sum(axis=1)
    
    df_copy = df_copy.sort_values(by=["imdb_id", "n_nulls"], ascending=[True, True])
    
    df_copy = df_copy.drop_duplicates(subset="imdb_id", keep="first")
    
    df_copy = df_copy.drop(columns="n_nulls")
    
    return df_copy

In [11]:
df_copy = limpio(df)

In [13]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 574924 entries, 408377 to 544756
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 574924 non-null  object
 1   vote_average          574924 non-null  float64
 2   vote_count            574924 non-null  int64
 3   release_date          574924 non-null  datetime64[ns]
 4   revenue               574924 non-null  int64
 5   runtime               574924 non-null  int64
 6   adult                 574924 non-null  bool
 7   budget                574924 non-null  int64
 8   imdb_id               574924 non-null  object
 9   original_language     574924 non-null  object
 10  original_title        574924 non-null  object
 11  popularity            574924 non-null  float64
 12  genres                450363 non-null  object
 13  production_companies  338056 non-null  object
 14  production_countries  419632 non-null  object
 15  spoken_languages      419989 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(4), object(8)
memory usage: 70.7+ MB

In [12]:
df_copy.describe()

,vote_average,vote_count,release_date,revenue,runtime,budget,popularity
count,574924.000000,574924.000000,574924,5.749240e+05,574924.000000,5.749240e+05,574924.000000
mean,2.954437,37.107077,1994-03-22 06:51:43.747973376,1.247215e+06,60.423294,4.830657e+05,1.822611
min,0.000000,0.000000,1900-01-01 00:00:00,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,0.000000,0.000000,1978-09-04 00:00:00,0.000000e+00,10.000000,0.000000e+00,0.600000
50%,1.000000,1.000000,2005-11-20 00:00:00,0.000000e+00,70.000000,0.000000e+00,0.655000
75%,6.000000,3.000000,2016-06-06 00:00:00,0.000000e+00,94.000000,0.000000e+00,1.400000
max,10.000000,34495.000000,2025-12-20 00:00:00,2.923706e+09,14400.000000,8.880000e+08,2994.357000
std,3.201644,447.089282,NaN,2.267160e+07,61.116041,6.233461e+06,9.930675

In [9]:
# Filtrar filas donde NO sean 0 al mismo tiempo en budget y revenue
df_copy = df_copy[~((df_copy["budget"] == 0) & (df_copy["revenue"] == 0))]

In [ ]:
df_copy.info()

In [ ]:
df_copy['vote_count'].sort_values().unique()

In [ ]:
# Filtrar filas donde vote_count no sea 0
df_filtered = df_copy[df_copy['vote_count'] != 0]

# Calcular el percentil 25 de vote_count
percentil_25 = df_filtered['vote_count'].quantile(0.75)

# Filtrar solo filas con vote_count > percentil 75
df_copy_quant = df_filtered[df_filtered['vote_count'] > percentil_25]

In [ ]:
# Filtrar filas donde vote_count NO sea 0
df_copy = df_copy[df_copy['vote_count'] > 0]

In [ ]:
# Extraer año de release_date
df_copy_quant['release_year'] = df_copy_quant['release_date'].dt.year

# Agrupar por año y calcular la media de vote_average
avg_vote_per_year = df_copy_quant.groupby('release_year')['vote_average'].mean()

# Graficar
plt.figure(figsize=(12,6))
plt.plot(avg_vote_per_year.index, avg_vote_per_year.values, marker='o')
plt.xlabel('Año de lanzamiento')
plt.ylabel('Promedio de voto')
plt.title('Promedio de voto por año')
plt.show()

In [ ]:


# Extraer año de release_date
df_copy['release_year'] = df_copy['release_date'].dt.year

# Agrupar por año y calcular la media de vote_average
avg_vote_per_year = df_copy.groupby('release_year')['vote_average'].mean()

# Graficar
plt.figure(figsize=(12,6))
plt.plot(avg_vote_per_year.index, avg_vote_per_year.values, marker='o')
plt.xlabel('Año de lanzamiento')
plt.ylabel('Promedio de voto')
plt.title('Promedio de voto por año')
plt.show()

In [ ]:
pd.set_option('display.float_format', lambda x: f'{x:.2ff}')

In [ ]:
df_copy_2.describe()

In [ ]:
df_copy_2[df_copy_2["revenue"] > 0]["revenue"].plot(kind="hist")

In [ ]:
def filtrar_outliers(df, columna):
    q1 = df[columna].quantile(0.25)
    q3 = df[columna].quantile(0.75)
    iqr = q3 - q1
    lim_inf = q1 - 1.5 * iqr
    lim_sup = q3 + 1.5 * iqr
    return df[(df[columna] >= lim_inf) & (df[columna] <= lim_sup)]

In [ ]:
df_copy_2 = filtrar_outliers(df_copy, 'revenue')

In [ ]:
df_copy['budget'] = df_copy['budget'].replace(0, np.nan)
df_copy['revenue'] = df_copy['revenue'].replace(0, np.nan)

In [ ]:
df_copy = df_copy[df_copy['budget'] <= 450_000_000]

In [ ]:
df_copy = df_copy[
    ~((df_copy['budget'].notna()) &
      (df_copy['revenue'].notna()))
]

In [ ]:
# creo una nueva columna se clasifican las peliculas en base a su duracion
def classify_length(mins):
    if mins < 5:
        return "Micro-short"
    elif mins < 40:
        return "Short Film"
    elif mins < 60:
        return "Medium-length Film"
    elif mins < 120:
        return "Feature Film"
    elif mins < 180:
        return "Extended Feature"
    elif mins < 240:
        return "Ultra-long Film"
    else:
        return "Extremely Long Film"

df_copy["length_class"] = df_copy["runtime"].apply(classify_length)

In [ ]:
df_copy.info()

In [ ]:


# Asegurarnos de que release_year exista
df_copy['release_year'] = df_copy['release_date'].dt.year

# Agrupar por año y sumar el presupuesto
df_budget_year = df_copy.groupby('release_year')['budget'].sum().reset_index()

# Graficar
plt.figure(figsize=(12,6))
plt.plot(df_budget_year['release_year'], df_budget_year['budget'], marker='o')
plt.xlabel('Year')
plt.ylabel('Total Budget')
plt.title('Total Budget of Movies by Year')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:


# Asegurarnos de que release_year exista
df_copy['release_year'] = df_copy['release_date'].dt.year

# Contar películas por año
df_count_year = df_copy.groupby('release_year').size().reset_index(name='movie_count')

# Plot
plt.figure(figsize=(12,6))
plt.plot(df_count_year['release_year'], df_count_year['movie_count'], marker='o')
plt.xlabel('Year')
plt.ylabel('Number of Movies')
plt.title('Movies Released per Year')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:



# Agrupar y sumar beneficio total por año
df_profit_year = df_copy.groupby('release_year')['revenue'].sum().reset_index()

# Plot
plt.figure(figsize=(12,6))
plt.plot(df_profit_year['release_year'], df_profit_year['revenue'], marker='o')
plt.xlabel('Year')
plt.ylabel('revenue')
plt.title('Total Profit of Movies per Year')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
# proporción de nulos por columna
df_copy.isna().mean()

In [ ]:
# sostituyo valore snulos con Unknown

df_copy = df_copy.fillna({
    'genres': "Unknown",
    'production_companies': "Unknown",
    'production_countries': "Unknown",
    'spoken_languages': "Unknown"
})

In [ ]:
df_copy['length_class'].value_counts()

In [ ]:
df_copy['production_companies'].value_counts()

In [ ]:
# Contar cuántas películas tiene cada productora
prod_counts = df_copy['production_companies'].value_counts()

# Filtrar solo las que tienen más de 10 películas
prod_counts[prod_counts > 10]

In [ ]:
# Filtrar la fila de Netflix en value_counts
df_copy['production_companies'].value_counts().get('Netflix', 0)

In [ ]:
top_movie = df_copy.loc[df_copy['revenue'].idxmax()]
print("Película que más ganó:")
print(top_movie['original_title'], top_movie['revenue'])

In [ ]:
df_copy['production_countries'].unique()

In [ ]:
# 1. Asegurar que production_countries sea string
df_copy['production_countries'] = df_copy['production_countries'].astype(str)

# 2. Separar los países en filas individuales
df_countries = df_copy.assign(
    production_countries = df_copy['production_countries'].str.split(', ')
).explode('production_countries')

# 3. Agrupar por país y sumar budget
country_investment = (
    df_countries.groupby('production_countries')['budget']
    .sum()
    .sort_values(ascending=False)
)

# 4. Ver los 20 países que más han invertido
country_investment.head(20)

In [ ]:
country_to_continent = {
    # North America
    "United States of America": "North America",
    "Canada": "North America",
    "Mexico": "North America",

    # South America
    "Brazil": "South America",
    "Argentina": "South America",
    "Chile": "South America",
    "Colombia": "South America",
    "Peru": "South America",

    # Europe
    "United Kingdom": "Europe",
    "France": "Europe",
    "Germany": "Europe",
    "Spain": "Europe",
    "Italy": "Europe",
    "Belgium": "Europe",
    "Netherlands": "Europe",
    "Russia": "Europe",   # producción cinematográfica suele clasificarse como Europa
    "Czech Republic": "Europe",
    "Denmark": "Europe",
    "Norway": "Europe",
    "Sweden": "Europe",
    "Switzerland": "Europe",
    "Portugal": "Europe",
    "Austria": "Europe",
    "Poland": "Europe",

    # Asia
    "China": "Asia",
    "Japan": "Asia",
    "India": "Asia",
    "Hong Kong": "Asia",
    "South Korea": "Asia",
    "Taiwan": "Asia",

    # Oceania
    "Australia": "Oceania",
    "New Zealand": "Oceania",

    # Africa
    "South Africa": "Africa",
    "Morocco": "Africa",

    # Unknowns
    "nan": "Unknown",
    "Unknown": "Unknown"
}

In [ ]:
df_copy['production_countries'].astype(str)

df_copy.assign(production_countries = df_copy['production_countries'].str.split(', ')).explode('production_countries')

In [ ]:
df_countries["continent"] = df_countries["production_countries"].map(country_to_continent)

In [ ]:

df_copy['continent'].value_counts()

In [ ]:
continent_investment = (
    df_countries.groupby("continent")["budget"]
    .sum()
    .sort_values(ascending=False)
)

continent_investment